body {
    font-family: sans-serif;
    background-color: #FFFAFA;
}

h1{
    background-color:#DCDCDC ;
    border-radius: 10px;
    color:#696969 ;
}

.link-header{
    text-decoration: none;
    background-color:#DCDCDC ;
    border-radius: 10px;
    color: #696969;
}

a{
    text-decoration: none;
    color: #696969;
    background-color: #DCDCDC;
    border-radius: 10px;
}

